.App {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border: 10px;
}

.App h2, .App h3 {
  color: teal;
}

.App a, .App a:visited {
  text-decoration: none;
}

.App button {
  background-color: #2e5eaa;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  border: none;
}

.App button:active {
  background-color: #264d8c;
}

.App .file-uploader-container {
  line-height: 1.5;
}